<ion-content [fullscreen]="true">
  <ion-tabs > 
    <ion-tab-bar slot="bottom" style="background-color: black;" >
      <ion-tab-button tab="home" *ngFor="let item of tabs" routerLink="{{item.redirecTo}}">
        <ion-icon name="{{item.icon}}" class="mb-1 mt-1"></ion-icon>
        <div class="h6">{{item.name}}</div>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ion-card *ngFor="let item of usuario">
    <ion-card-header>
      <div class="ion-text-center">
        <ion-img src="https://assets.stickpng.com/images/585e4beacb11b227491c3399.png"
          style="margin: auto;"></ion-img>
      </div>
      <ion-title class="h3">{{item.nombre}} {{item.apellido}}</ion-title>
    </ion-card-header>

    <div class="bg bg-dark pb-1 pt-1">
      <div>
        <ion-title class="h1">RUT</ion-title>
        <ion-title class="h2">{{item.rut}}</ion-title>
      </div>
      <div>
        <ion-title class="h1">Celular</ion-title>
        <ion-title class="h2">+56 {{item.celular}}</ion-title>
      </div>
      <div>
        <ion-title class="h1">Correo</ion-title>
        <ion-title class="h2">{{item.correo}}</ion-title>
      </div>
    </div>
  </ion-card>
</ion-content>