<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row justify-content-center">      
      <div class="col-sm-6  me-3">
        <img src="assets/icon/caballo.png" alt="" (click)="evento()" >
      </div>
      <div class="container mt-3" id="mensaje" [hidden]="mensaje"> 
        <div class="row justify-content-center">
          <div class="col-sm-6 bg bg-light border border-dark" >
            <h5 style="color: black;">Haz click en el caballo para desplegar el menu.</h5>
          </div>
        </div>
      </div>
      <div class="container" id="cont" [hidden]="menu">
        <div class="row justify-content-center">
          <div class="col-sm-6">
            <ion-list>
              <ion-item>
                <h2>TeLlevoApp</h2>
              </ion-item>
              <ion-item *ngFor="let menu of componentes">
                <ion-button class="my-3" shape="round" size="default" routerLink="{{menu.redirecTo}}">
                  <ion-icon class="me-3 mb-1" name="{{menu.icon}}"></ion-icon> <span>{{menu.name}}</span>
                </ion-button>
              </ion-item>
              <ion-item>
                <ion-button class="my-3" shape="round" size="default" routerLink="/login">
                  <ion-icon class="me-3 mb-1" name="arrow-back-outline"></ion-icon> <span>logout</span>
                </ion-button>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>