<ion-content [fullscreen]="true">
  <ion-list id="cont" class="pe-5">
    <ion-item>
      <h2 class="h2">TeLlevoApp</h2>
    </ion-item>
    <ion-item *ngFor="let user of usuario">
      <ion-title>Bienvenido {{user.nombre}} {{user.apellido}}</ion-title>
    </ion-item>
    <ion-item *ngFor="let menu of componentes">
      <ion-button  class="my-3" shape="round" size="default" routerLink="{{menu.redirecTo}}">
        <ion-icon class="me-3 mb-1" name="{{menu.icon}}"></ion-icon> <span>{{menu.name}}</span>
      </ion-button>
    </ion-item>

  </ion-list>
</ion-content>